@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 16px;
  color: #fafafa;
  background-color: #181818;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  font-size: 1.5rem;
  cursor: pointer;
}

.form_control {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form_control + .form_control {
  margin-top: 1em;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: rgb(178 190 205);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgb(178 190 205);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: rgb(178 190 205);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .nav_container {
    @apply relative w-60 bg-colorBg2 rounded-2xl border-solid border-borderColor2 flex flex-col justify-between;
  }

  .mobile_nav_container {
    @apply fixed h-screen-2rem z-10;
  }

  .nav_profile {
    @apply m-6 px-4 py-3 rounded-2xl font-medium flex items-center;
  }

  .nav_profile_overlay {
    @apply flex justify-center items-center gap-4 absolute top-0 left-0 w-full h-28 backdrop-blur z-0 
    transition-all rounded-2xl border-2 border-solid opacity-80 hover:opacity-100 hover:border-2 hover:border-solid;
  }

  .nav_item {
    @apply relative pt-3 pr-4 pb-4 pl-8 flex gap-4 items-center;
  }

  .tasks_container {
    @apply p-8 w-full h-full border-2 border-solid rounded-2xl overflow-y-auto;
  }

  .create_task {
    @apply flex items-center justify-center gap-2 h-64 cursor-pointer rounded-2xl border-4 border-dashed transition-all;
  }

  .tasks_grid {
    @apply grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6;
  }

  .task_item {
    @apply py-5 px-4 rounded-2xl h-64 flex flex-col gap-2 border-2 border-solid justify-between;
  }

  .icon_button {
    @apply border-none outline-none cursor-pointer;
  }

  .completed_button {
    @apply inline-block py-1 px-4 rounded-3xl text-sm;
  }

  .signout_button {
    @apply relative flex items-center z-10 text-lg mb-6 mx-auto gap-2 transition-all;
  }

  .modal_wrapper {
    @apply flex items-center justify-center fixed top-0 left-0 w-full h-screen z-50;
  }

  .modal_overlay {
    @apply absolute flex justify-center items-center top-0 left-0 w-full h-screen backdrop-blur-sm;
  }

  .modal_content {
    @apply relative p-8 max-w-xl w-4/5 z-50 h-9/10 overflow-auto rounded-2xl border-2 border-solid;
  }

  .submit_button {
    @apply py-2 px-4 rounded-lg text-xl font-medium flex justify-center items-center gap-2 transition-all border-2 border-solid absolute bottom-0;
  }

  .input_control {
    @apply relative my-4 font-medium;
  }

  .input_control input,
  .input_control textarea {
    @apply w-full border-none p-4 resize-none rounded-lg bg-[#131313] text-[#b2becd];
  }

  .input_control input::placeholder,
  .input_control textarea::placeholder {
    color: rgba(178, 190, 205, 0.5);
  }

  .input_control label {
    @apply mb-1 ml-2 inline-block text-sm;
  }

  .toggler {
    @apply flex items-center justify-between;
  }

  .toggler label {
    @apply flex-1;
  }

  .toggler input {
    width: initial;
    cursor: pointer;
  }

  .toggle_border {
    border-top: 3px solid rgba(249, 249, 249, 0.1);
    border-right: 3px solid rgba(249, 249, 249, 0.1);
    border-bottom: 3px solid rgba(249, 249, 249, 0.1);
  }
}
